services:
  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    container_name: agri_backend
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./data/logs:/app/logs
      - ./data/vector_store:/app/Vectorstore_db
      - ./data/uploads:/app/uploads
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://postgres:admin@db:5432/agridb
      - LOG_PATH=/app/logs
    depends_on:
      - db
    restart: unless-stopped
  db:
    image: postgres:15-alpine
    container_name: agri_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: agridb
      LANG: en_US.utf8
      LC_ALL: en_US.utf8
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: